*{ 
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    color: white;
    min-height: 3em;
    padding-top:1.3em;
}
h2{
    color: #B35358;
    margin:1em;
}
body{
    background-color: #ECF0F1;
    min-height: 90em;
}

header {
    background-color: #E84C3D;
    width: 100%; 
}
.conteneurduconteneur{
    display: flex;
    justify-content: center;
}
.conteneur{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
    margin-top: 1em;
}
.element{
    margin: 1em;
}
p{
    text-align: left ;
    margin: 1em ;
}
.pic{
    max-width: 100%;
    max-height: 300px;
}