<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Baker</title>
        <link rel="stylesheet" href="baker.css">
        <script src="https://unpkg.com/vue@next" defer></script>
        <script src="baker.js" type="module" defer></script>
    </head>

    <body>
      <div class="conteneur">
        <main id="app">
            <div id="boulanger"class="contenu">
                <h1>Le Boulanger</h1>
                <table>
                    <tr>
                        <th>Or gagné</th>
                        <th>Or dépensé</th>
                        <th>Farine produite</th>
                        <th>Baguetttes produites</th>
                    </tr>
                    <tr>
                        <td>{{ baker.gold.toFixed(2) }}</td>
                        <td>{{ baker.gold_Spend.toFixed(2) }}</td>
                        <td>{{ baker.flour }}</td>
                        <td>{{ baker.baguettes_Total }}</td>
                    </tr>
                </table>
            </div>
            <div id="boulangerie" class="contenu ">
                <div class="entete">
                    <h2>Boulangerie</h2>
                    <button v-if="this.baker.open === false" id="demarrer" v-on:click="ouvrir_Boulangerie">Ouvrir la boulangerie</button>
                    <button v-else id="demarrer" v-on:click="fermer_Boulangerie">Fermer la boulangerie</button> 
                </div>
                <div class="corp">
                    <img src="assets/baker.jpg" alt="Une boulangerie">
                    
                        <table>
                            <tr>
                                <th>Niveau</th>
                                <td class="niveau">{{ baker.level }}</td>
                                <td><button v-on:click="this.baker.ajouter_Niveau()" class="plus">+</button></td>
                                <td class="or">{{ baker.level_Price.toFixed(2) }}</td>
                            </tr>
                            <tr>
                                <th>Moulins</th>
                                <td class="moulin">{{ baker.mills }}</td>
                                <td><button v-on:click="this.baker.ajouter_Moulin()" class="plus">+</button></td>
                                <td class="or">{{ baker.mills_Price.toFixed(2) }}</td>
                            </tr>
                            <tr>
                                <th>Or</th>
                                <td class="or">{{ baker.gold.toFixed(2) }}</td>
                            </tr>
                            <tr>
                                <th>Farine</th>
                                <td class=farine>{{ baker.flour }}</td>
                            </tr>
                            <tr>
                                <th>Baguettes</th>
                                <td class="baguette">{{ baker.baguettes }}</td>
                            </tr>
                        </table>
                </div>

            </div>
            <div id="commandes" class="contenu ">
                <div class="entete">
                    <h2>Commandes</h2>
                </div>
                <div class="corp">
                    <table>
                        <tr>
                            <th>📲</th>
                            <th>🥖</th>
                            <th>💰\🥖</th>
                            <th>💰💰💰</th>
                            <th>🕗</th>
                            <th>🗣</th>
                        </tr>
                        <tr v-for="commande in commandes">
                            <td>{{ commande.id }}</td>
                            <td>{{ commande.nb_baguettes_command }}</td>
                            <td>{{ commande.price_baguette.toFixed(2) }}</td>
                            <td>{{ commande.reward.toFixed(2) }}</td>
                            <td >{{ commande.etat==="Acceptée" ? commande.timer_to_finish : commande.timer_to_accept }}</td>
                            <td v-if="commande.etat === 'En attente...' && commande.id !== 0"><button v-on:click="accepter_Commande(commande)" class="yn">Y</button><button v-on:click="refuser_Commande(commande)" class="yn">N</button></td>
                            <td v-else-if="commande.etat === 'Acceptée'" ><progress class="prgb" max="{{ commande.nb_baguettes_command }}" value="{{ this.baker.baguettes }}"></progress> {{ baker.baguettes }}/{{ commande.nb_baguettes_command }}</td>
                            <td v-else>{{ commande.etat }}</td>
                        </tr>
                     
                    </table>
                
                </div>

            </div>
            <div id="log" class="contenu">
                <div class="entete">
                    <h2>Log</h2>
                    <p v-if ="log !== []" v-for="ligne in logs"></p>
                    {{ ligne }}
                </div>
                <div class="corp">

                </div>
            </div>
        </main>

        <footer>
            <a href="http://www.arfp.asso.fr">Centre de Réadaptation de Mulhouse</a>
        </footer>
    </div> 
<script>
    const mountedApp = app.mount('#app');

</script>
    </body>
</html>