:root {
    --txt: #FFFFFF;
    --txt2: #CCCCCC;
    --bg: #44474E;
    --bg-dark: #33373E;
    --bg-light: #55575E;
    --border: 1px solid #111;
    --border2: 2px solid #111;
}

* {
    box-sizing: border-box;
    padding:0;
    margin:0;
    
}

body{
    background-color: var(--bg);
   
}
.conteneur{
    height: 100vh;
    width:99vw;
    padding:1em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 5fr 2fr;
    grid-column-gap: 5px;
    grid-row-gap: 2px;
}

h1,h2,tr{
    color:var(--txt);
    
}
.entete{
    width: 100%;
    
    background-color: var(--bg-dark);
    border:var(--border)
    
}
.contenu{
    border: var(--border);
    margin:2em;
   
}
/* ------------------Partie Le Boulanger----------------------- */
#boulanger{
    display: flex;
    justify-content: space-between;
    padding:2em 1em 2em 1em;

}
#boulanger table{
    
}
#boulanger td{
    background-color: var(--bg-light);
    padding:1em;
}
#boulanger th{
    background-color: var(--bg-dark);
    padding:1em;
}
/*------------------Partie Boulangerie  --------------------------*/
#boulangerie{
    display: block;
}
#boulangerie>.entete{
    display: flex;
    justify-content: space-between;
}
#boulangerie>.corp{
    display: flex;
    justify-content: space-between;
}
.corp>img{
   max-width: 10em;
   max-height: 10em;
   padding:1em;
}
#moulinImg{
   max-width: 2em;
  
}
#demarrer{
    margin: 3px;
    color: var(--txt);
    background-color: var(--bg-light);
    font-size: 11px;
    padding: 5px;
}
#boulangerie table{
    padding-top: 1em;
    text-align: right;
}
#boulangerie table tr td{
    padding-left: 2em;
    
}

.niveau::after {
    display: inline-block;
    content: "⚡";
}
.or::after{
    display: inline-block;
    content: "💰";
}
.farine::after{
    display: inline-block;
    content: "🥌";
}
.baguette::after{
    display: inline-block;
    content: "🥖";
}

.moulin::after {
    display: inline-block;
    content: "";
    background-image: url('assets/mill.png');
    background-size: 20px 20px;
    width: 20px;
    height:20px;
}
.plus{
    display: inline-block;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    padding: -4px;
    color:var(--txt2);
    background-color: var(--bg-dark);
    
}




/*------------------Partie Commandes--------------------------*/

#commandes table th{
    padding-right: 8px;
    width: 1em;
    text-align: center;
    padding: 1px;
    
    
}
#commandes tr:first-child{
    background-color: var(--bg-dark);
    
}
 #commandes table{
     width: 100%;
 }
#commandes table td{
    text-align: center;
    padding:4px;
}

#commandes table td:last-child{
    width: 10em;
    text-align: start;
    
}
#commandes tr:nth-child(2n){
    background-color: var(--bg-light);
}

/*------------------Partie Log--------------------------*/
#log{
   min-height: 15em;
}

/*------------------footer--------------------------*/
footer{
    text-align: center;
}


a, a:visited {
    color: var(--txt);
}

@media screen and (max-width:850px){
    #boulanger{

        display:block;
    }
}
