*{ 
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    color: white;
    min-height: 3em;
    padding-top:1.3em;
}
h2{
    color: #B35358;
    margin:1em;
}
body{
    background-color: #ECF0F1;
    min-height: 90em;
    
   
    
}

header {
    background-color: #E84C3D;
    width: 100%;
   
    
}
p{
    text-align: left ;
    margin: 1em ;
}


.conteneur{
    display: grid;
    grid-template-columns: 250px 250px 250px;
    
    width: 70%;
    justify-self: center;
    margin-left: 15em;
}
.conteneur > div{
    background-color: white;
    min-height: 500px;
    margin-top: 50px;
    margin-left: 25px;
    justify-self: center;
}
.pic{
    max-width: 100%;
    max-height: 300px;
}